@import 'settings/_colors.scss';
@import 'settings/_typography.scss';




.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  & a {
    @include fs-6;
    @include fw-500;
    color: var(--fc-purple);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.btn {
  width: 100%;
  border-radius: 0.5rem;
}
