@import 'settings/_colors.scss';
@import 'settings/_typography.scss';

.logo-content {
  flex: 2;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.login-image {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;

  & a {
    @include fs-6;
    @include fw-500;
    color: var(--fc-purple);
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.btn {
  width: 100%;
  border-radius: 0.5rem;
}
