@import 'elements/_buttons.scss';
@import 'settings/_media.scss';
@import 'settings/_typography.scss';

header {
  position: fixed;
  margin-left: 250px;
  height: 75px;
  width: -webkit-fill-available;
  background: var(--bg);
  border-bottom: 2px solid #e0e0e0;
  z-index: 95;

  @include width-medium {
    margin-left: 0;
    height: 70px;
  }

  & .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
    height: 100%;
    position: relative;

    & .search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include width-medium {
        flex: auto;
      }

      @include width-small {
        &.focus {
          position: absolute;
          left: 1rem;
          right: 1rem;
          z-index: 100;
        }
      }
    }
  }

}

.input-group {
  position: relative;
  width: 100%;

  & input.icon {
    background: var(--bg-sidebar);
    border: 1px solid transparent;
    border-radius: 1rem;
    width: 100%;
    min-width: 0;
    padding: 10px 10px 10px 50px;
    color: var(--font-color-primary);
    font-size: 16px;
    transition: 0.2s;
    box-shadow: var(--box-shadow);

    &:focus {
      border: 1px solid var(--border-input);
      background: var(--bg-2);
      color: var(--fc-primary);
      outline: 0;
    }

    & ~ i {
      top: 15px;
      left: 20px;
      position: absolute;
      color: #71767b;
      transition: 0.2s;
    }

    &:focus ~ i {
      color: var(--primary-color);
    }
  }
}

.burger {
  display: none;
  color: var(--fc-primary);
  transition: 0.5s;
  border-radius: 50%;
  background: transparent;
  padding: 0.5rem;
  width: 45px;
  height: 45px;

  &:hover {
    background: var(--bg-hover-2);
    cursor: pointer;
  }

  & i {
    @include fs-1;
  }

  @include width-medium {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.profile {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;

  & .user {
    padding: 0.35rem 0.5rem;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;

    &:hover {
      background: var(--bg-hover-3);
      cursor: pointer;
    }

    & .user-data {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      & .user-img {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      & .name {
        @include fs-6;
        @include fw-500;
        color: var(--fc-primary);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        @include width-small {
          display: none;
        }
      }

      & .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--fc-primary);
        transition: 0.5s;
        border-radius: 50%;
        width: 35px;
        height: 35px;

        @include width-small {
          display: none;
        }

        & i {
          @include fs-1;
        }
      }
    }
  }
}

.dropdown-user {
  display: none;
  z-index: 2;
  list-style-type: none;
  position: absolute;
  opacity: 0;
  top: 55px;
  right: 0;
  background-color: #f7f7f7;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  visibility: hidden;
  height: fit-content;
  transition: visibility 0.2s, opacity 0.2s linear, bottom 0.2s linear,
  box-shadow 0.2s linear;
  min-width: 14rem;

  &.active {
    opacity: 1;
    bottom: 0;
    display: block;
    visibility: visible;
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25);
  }

  .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 45px;
    transition: 0.3s ease;
    padding: 0 1rem;
    gap: 1rem;

    &:hover {
      background: var(--bg-hover-3);
      cursor: pointer;
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:first-of-type {
      border-radius: 10px;
    }

    & span {
      @include fs-5;
      @include fw-400;
      color: var(--fc-primary);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    & i {
      @include fs-4;
      @include fw-500;
      color: var(--fc-primary);
    }
  }
}
