@import 'elements/_buttons.scss';
@import 'settings/_media.scss';
@import 'settings/_typography.scss';

header {
  position: fixed;
  margin-left: 250px;
  height: 75px;
  width: -webkit-fill-available;
  background: var(--bg);
  border-bottom: 2px solid #e0e0e0;
  z-index: 90;

  @include width-medium {
    margin-left: 0;
    height: 70px;
  }

  & .options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 1rem;
    height: 100%;

    & .search {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }
  }

}

.input-group {
  position: relative;
  width: 100%;

  & input.icon {
    background: var(--bg-sidebar);
    border: 1px solid transparent;
    border-radius: 1rem;
    width: 100%;
    min-width: 0;
    padding: 10px 10px 10px 50px;
    color: var(--font-color-primary);
    font-size: 16px;
    transition: 0.2s;
    box-shadow: var(--box-shadow);

    &:focus {
      border: 1px solid var(--border-input);
      background: var(--bg-2);
      color: var(--fc-primary);
      outline: 0;
    }

    & ~ i {
      top: 15px;
      left: 20px;
      position: absolute;
      color: #71767b;
      transition: 0.2s;
    }

    &:focus ~ i {
      color: var(--primary-color);
    }
  }
}

.burger {
  display: none;
  color: var(--fc-primary);
  transition: 0.5s;
  border-radius: 50%;
  background: transparent;
  padding: 0.5rem;
  width: 45px;
  height: 45px;

  &:hover {
    background: var(--bg-hover-2);
    cursor: pointer;
  }

  & i {
    @include fs-1;
  }

  @include width-medium {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
