<app-actions [folder]="folder"></app-actions>
<div class="fluid-container">
  <app-loader class="loader" *ngIf="isLoading"></app-loader>
  <div class="not-items" *ngIf="!allFiles.length && !isLoading">
    <img src="assets/images/no-files.svg" alt="no-files-image">
    <span class="description">Agrega tu primer archivo o carpeta</span>
  </div>
  <div class="files" *ngIf="allFiles.length && !isLoading">
    <section class="group">
      <span class="title">Archivos</span>
      <div class="items">
        <app-table-files *ngFor="let file of allFiles"
          [file]="file"
        ></app-table-files>
      </div>
    </section>
  </div>
</div>

<app-new-folder></app-new-folder>
<app-upload-files></app-upload-files>
<app-update-name></app-update-name>
<app-colors></app-colors>
