<button class="options" (click)="changeVisibility()">
  <i class="bx bx-dots-vertical-rounded"></i>
</button>
<ul class='dropdown-list' role="menu" #dropdown [id]="buildId()" *ngIf="file">
  <li role="menuitem" class='dropdown-item' (click)="openRenameModal()" *ngIf="!isFile()">
    <i class="bx bx-edit-alt"></i>
    <span class="title">Cambiar nombre</span>
  </li>
  <li role="menuitem" class='dropdown-item' *ngIf="!isFile()" (click)="openUpdateColorModal()">
    <i class="bx bx-palette"></i>
    <span class="title">Cambiar color</span>
  </li>
  <li role="menuitem" class='dropdown-item' (click)="downloadFile()" *ngIf="isFile()"> <!-- wait to compress zip -->
    <i class="bx bx-download"></i>
    <span class="title">Descargar</span>
  </li>
  <li role="menuitem" class='dropdown-item danger' (click)="deleteFile()" *ngIf="isFile()">
    <i class="bx bx-trash"></i>
    <span class="title">Eliminar</span>
  </li>
</ul>
