@import 'settings/_colors.scss';
@import 'settings/_typography.scss';
@import 'elements/_buttons.scss';

.options {
  @include fs-4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
  background: transparent;
  transition: 0.4s ease;
  cursor: pointer;

  &:hover {
    background: var(--bg-hover-2);
  }
}

ul {
  display: none;
  z-index: 2;
  list-style-type: none;
  position: absolute;
  opacity: 0;
  top: 52px;
  right: 15px;
  background-color: #f7f7f7;
  padding: 0;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  visibility: hidden;
  height: fit-content;
  transition: visibility 0.2s, opacity 0.2s linear, bottom 0.2s linear,
    box-shadow 0.2s linear;
  min-width: 15rem;

  &.show {
    opacity: 1;
    bottom: 0;
    display: block;
    visibility: visible;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.25);
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    padding: 0 1rem;
    gap: 1.2rem;

    &:hover {
      background-color: #b8c1ce77;
      color: var(--font-color-4);
    }

    &:first-of-type {
      border-radius: 10px;
    }

    &:first-child {
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;

      &:hover {
        background-color: #ff72568c;
      }
    }

    & .title {
      @include fs-5;
      @include fw-400;
      color: var(--fc-primary);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      flex: 1;
    }

    & i {
      @include fs-4;
      @include fw-500;
      color: var(--fc-primary);
    }
  }
}
