<div class="modal dialog" #modalName>
  <div class="modal-content">
    <div class="header">
      <span class="title">Cambiar nombre</span>
      <div class="i-wrapper">
        <i class="bx bx-x" (click)="closeModal()"></i>
      </div>
    </div>
    <div class="body">
      <input type="text" placeholder="Nombre de la carpeta" [(ngModel)]="newName" (keyup.enter)="updateName()">
      <div class="actions">
        <button class="btn btn-primary" [disabled]="!validateFolderName()" (click)="updateName()">Guardar</button>
      </div>
    </div>
  </div>
</div>
