<nav class="sidebar closed">
  <div class="logo" routerLink="/">
    <figure>
      <img src="assets/images/logo.svg" alt="logo_image">
    </figure>
    <span class="name">Cloud Box</span>
    <div class="close">
      <i class="bx bx-x" (click)="changeVisibilitySidebar()"></i>
    </div>
  </div>
  <ul class="items">
    <li class="item">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class='bx bx-customize'></i>
        <span class="name">Home</span>
      </a>
    </li>
    <li class="item space">
      <div class="used-space">
        <span class="name">Espacio utilizado</span>
        <div class="progress-bar">
          <div class="progress"
            #progress
            [ngStyle]="{'width': getProgress() }">
          </div>
        </div>
        <div class="percentage">
          <span class="used">{{ userActive.usedSpace | fileSize }}</span>
          <span class="slash">/</span>
          <span class="remaining">{{ userActive.totalSpace | fileSize }}</span>
        </div>
      </div>
    </li>
  </ul>
</nav>

<div class="overlay" #overlay (click)="changeVisibilitySidebar()"></div>
