<div class="fluid-container">
  <app-actions [folder]="root"></app-actions>
  <div class="not-items" *ngIf="root.folders.length < 1 && root.files.length < 1">
    <img src="assets/images/no-files.svg" alt="no-files-image">
    <span class="description">Agrega tu primer archivo o carpeta</span>
  </div>
  <div class="files" *ngIf="root.folders.length > 0 || root.files.length > 0">
    <section class="group" *ngIf="root.folders.length > 0">
      <span class="title">Carpetas</span>
      <div class="items">
        <app-folder *ngFor="let folder of root.folders" class="item"
          [folder]="folder"
        ></app-folder>
      </div>
    </section>
    <section class="group" *ngIf="root.files.length > 0">
      <span class="title">Archivos</span>
      <div class="items">
        <app-file *ngFor="let file of root.files" class="item"
          [file]="file"
        ></app-file>
      </div>
    </section>
  </div>
</div>

<app-new-folder></app-new-folder>
<app-upload-files></app-upload-files>
<app-update-name></app-update-name>
