<div class="fluid-container">
  <app-actions [folder]="root"></app-actions>
  <div class="files">
    <section class="group">
      <span class="title">Folders</span>
      <div class="items">
        <app-folder *ngFor="let folder of root.folders" class="item"
          [folder]="folder"
        ></app-folder>
      </div>
    </section>
    <section class="group">
      <span class="title">Files</span>
      <div class="items">
        <app-file *ngFor="let file of root.files" class="item"
          [file]="file"
        ></app-file>
      </div>
    </section>
  </div>
</div>

<app-new-folder></app-new-folder>
