@import 'settings/_colors.scss';
@import 'settings/_typography.scss';
@import 'elements/_buttons.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif; // add poppins url from google fonts
  scroll-behavior: smooth;

  &:focus {
    outline: none;
  }
}

:root {
  --bg: #{$white};
  --bg-2: #{$white-grey};
  --bg-hover-1: #{$purple};
  --bg-hover-2: #{$white-grey-hover};
  --bg-sidebar: #{$purple-light};
  --fc-primary: #{$black};
  --fc-white: #{$white-grey};
  --fc-purple: #{$purple};
  --border-input: none;
  // --border-input: 1px solid #333639;
}

body {
  background: var(--bg);
  color: var(--fc-primary);
}

.wrapper {

  & .container {
    min-height: 100vh;
    margin-left: 250px;
    width: auto;
  }
}


.btn {
  @include btn;

  &.btn-primary {
    @include btn-primary;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.fluid-container {
  padding: 1rem 0.8rem;
}


.auth-wrapper {
  min-height: 100vh;
  height: 100%;
  background: var(--bg);

  & .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    padding: 1rem 1.8rem;
    max-width: 1400px;
    margin: 0 auto;
  }

  & section {
    position: relative;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;


  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
    position: relative;

    &.row {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }

    & .text-danger {
      @include fs-7;
      @include fw-400;
      color: var(--fc-purple);
    }

    & label {
      @include fs-6;
      @include fw-400;

      & span {
        color: var(--fc-purple);
      }
    }

    & .input-icon {
      position: relative;

      & input {
        width: 100%;
        padding-right: 2.3rem;
      }
    }

    & input {
      @include fs-6;
      @include fw-500;
      padding: 0.5rem 1rem;
      border: var(--border-input);
      border-radius: 0.5rem;
      background: var(--bg-2);
      color: var(--fc-primary);
      transition: all 0.3s ease-in-out;

      &:focus {
        border: var(--border-input);
        background: var(--bg-2);
        color: var(--fc-primary);
      }

      &[type='checkbox'] {
        width: 1rem;
        height: 1rem;
        border: var(--border-input);
        background: var(--bg-2);
        color: var(--fc-purple);
        transition: all 0.3s ease-in-out;

        &:focus {
          border: var(--border-input);
          background: var(--bg-2);
          color: var(--fc-primary);
        }
      }
    }

    & i {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: var(--fc-purple);
      cursor: pointer;
    }
  }
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  & .title {
    @include fs-1;
    @include fw-600;
    color: var(--fc-purple);
  }

  & .sign-up {
    @include fs-5;
    @include fw-400;
    color: var(--fc-secondary);

    & a {
      color: var(--fc-purple);
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
