@import 'settings/_colors.scss';
@import 'settings/_typography.scss';
@import 'settings/_media.scss';
@import 'elements/_buttons.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Arial, Helvetica, sans-serif; // add poppins url from google fonts
  scroll-behavior: smooth;

  &:focus {
    outline: none;
  }
}

:root {
  --bg: #{$white};
  --bg-2: #{$white-grey};
  --bg-hover-1: #{$purple};
  --bg-hover-2: #{$white-grey-hover};
  --bg-sidebar: #{$purple-light};
  --fc-primary: #{$black};
  --fc-white: #{$white-grey};
  --fc-purple: #{$purple};
  --border-input: none;
  // --border-input: 1px solid #333639;
}

body {
  background: var(--bg);
  color: var(--fc-primary);
}

.wrapper {

  & .container {
    min-height: 100vh;
    margin-left: 250px;
    width: auto;
  }
}


.btn {
  @include btn;

  &.btn-primary {
    @include btn-primary;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.fluid-container {
  padding: 1rem 0.8rem;
}


.auth-wrapper {
  min-height: 100vh;
  height: 100%;
  background: var(--bg);

  & .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    width: 100%;
    padding: 1rem 1.8rem;
    max-width: 1400px;
    margin: 0 auto;

    @include width-medium {
      flex-direction: column;
      gap: 2rem;
    }

    @include width-small {
      padding: 1rem 0.8rem;
    }

    & .logo-content {
      @include width-medium {
        display: none;
      }
    }
  }

  & section {
    position: relative;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;

    & a {
      @include fs-6;
      @include fw-500;
      color: var(--fc-purple);
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &:visited {
        color: var(--fc-purple);
        text-decoration: none;
      }
    }
  }

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem ;
    position: relative;

    &.row {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
    }

    & .text-danger {
      @include fs-7;
      @include fw-400;
      color: var(--fc-purple);
    }

    & label {
      @include fs-6;
      @include fw-400;

      &::selection {
        background: transparent;
      }

      & span {
        color: var(--fc-purple);
      }
    }

    & .input-icon {
      position: relative;

      & input {
        width: 100%;
        padding-right: 2.3rem;
      }
    }

    & input {
      @include fs-6;
      @include fw-500;
      padding: 0.5rem 1rem;
      border: var(--border-input);
      border-radius: 0.5rem;
      background: var(--bg-2);
      color: var(--fc-primary);
      transition: all 0.3s ease-in-out;

      &:focus {
        border: var(--border-input);
        background: var(--bg-2);
        color: var(--fc-primary);
      }

      &[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 0.8rem;
        height: 1.8rem;
        border-radius: 0.5rem;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
        color: var(--fc-purple);
      }

      &[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        background-color: currentColor;
      }

      &[type="checkbox"]:checked::before {
        transform: scale(1);
      }
    }

    & i {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      color: var(--fc-purple);
      cursor: pointer;
    }
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;

  @include width-medium {
    flex: none;
    width: 80%;
  }

  @include width-small {
    width: 100%;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  & .title {
    @include fs-1;
    @include fw-600;
    color: var(--fc-purple);
  }

  & .sign-up {
    @include fs-5;
    @include fw-400;
    color: var(--fc-secondary);

    & a {
      color: var(--fc-purple);
      text-decoration: none;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
