$purple: #6A4BFF;
$purple-light: #694bff1a;
$dark: #171725;
$black-accent: #1D2335;

$yellow: #F6C949;
$red: #FF7256;
$green: #3BC963;
$orange: #ff8550;
$blue: #1D92F1;

$black: #25546F;
$dark-grey: #696974;
$grey: #92929D;
$line-dark: #EAEAEA;
$white-grey: #F1F1F5;
$white-grey-hover: #E1E1E1;
$white: #FEFEFE;

